// PRIMARY COLORS 
$color-primary: #3addbe;       
$color-primary-light: #6fffe9; 
$color-primary-dark: #2dbfa4; 

$color-gray-100: #f1f5f9; 
$color-gray-300: #cbd5e1;  
$color-gray-500: #64748b; 
$color-gray-700: #334155;  
$color-gray-900: #0f172a;  

$color-error: #f43f5e;  
$color-success: #3ddc91;
// SPACINGS
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
// FONTS
$font-size-base: 16px;
$font-size-sm: 12px;
$font-size-lg: 20px;
