// PRIMARY COLORS 
$color-primary: #3addbe;      
$color-black: #000; 

$color-gray-100: #cbd5e1; 
$color-gray-300: #64748b;  
$color-gray-500: #334155; 
$color-gray-700: #0f172a;  
$color-gray-900: #070c14;  

$color-error: #f43f5e;  
$color-success: #3ddc91;
// SPACINGS
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
// FONTS
$font-size-base: 16px;
$font-size-sm: 12px;
$font-size-lg: 20px;
